<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="19752bcb-ca40-4198-8c2a-b9acca03dcac" Publisher="CN=Matheus" Version="1.0.0.0" />
  <Properties>
    <DisplayName>AppCursosEventos</DisplayName>
    <PublisherDisplayName>Matheus Bica e Ezequiel Ross</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AppCursosEventos.App">
      <VisualElements DisplayName="AppCursosEventos" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="AppCursosEventos" ForegroundText="light" BackgroundColor="#F4DBAE">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.jpg" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>